#commentForm h2 {
    color: var(--main-accent-color);
}

#commentFormContainer {
    border: 3px var(--main-accent-color) solid;
    background-color: var(--main-background-color);
    border-radius: 6px;
}


#addCommentText {
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    resize: vertical;
}

#commentForm button{
    margin-bottom: 20px;
}
