#commentForm h2 {
    color: var(--main-accent-color);
}

#commentFormContainer {
    border: 3px var(--main-accent-color) solid;
    background-color: var(--main-background-color);
    border-radius: 6px;
}


#addCommentText {
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    resize: vertical;
}

#commentForm button{
    margin-bottom: 20px;
}

#closeCommentForm {

        width: 40px;
        height: 40px;
        margin-top: 20px;
        background-color: var(--main-accent-color);
        border: none;
        border-radius: 8px;
        cursor: pointer;

}

#closeCommentForm:hover{
    background-color: var(--accent-color-hover);
    /* color: var(--main-text-color); */
}

