.searchInput{
    display: block;
    margin-bottom: 20px;
    width: 200px;
    height: 30px;
    text-align: center;
    margin-left: 10px;
}

#searchContainer {
    border: 2px solid var(--main-accent-color);
    padding-left: 500px;
    padding-right: 500px;
    padding-bottom: 20px;
    background-color: var(--main-background-color);
    margin-top: 30px;
}

#searchContainer h1 {
    color: var(--main-accent-color);
}


#catalogContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    /* border: 5px solid black; */
}

#catalogContainer > *{
    padding: 20px;
} 

#filterDropdown label{
    color: var(--main-accent-color);
    font-size:x-large;
    margin-right: 10px;
    /* font: var(--main-text-font); */
}

#filterDropdown{
    display: flex;
    margin-top: 20px;
    margin-right: 1030px;
}

#filterDropdown #sort{
    border-radius: 10px;
    width: 230px;
}

