.text {
  color: white;
}

#footer {
  background: black;
  margin-top: 30px;
  /* position: fixed; */
  /* bottom: 50px; */
}

.text {
  text-align: center;
  line-height: 40px;
}

.socialLinks a img {
  width: 40px;
  /* margin-left: 20px; */
}

.socialLinks a{
  /* margin-left: 20px; */
  position: relative;
  margin-left: 10px;
  bottom: 30px;
  left: 30px;
}


/* .socialLinks a{
  position: relative;
  bottom: 25px;
  left: 50px;
} */

/* .socialLinks a {
  bottom: 50px;
  margin-left: 30px;
  display: block;
  position: relative;
} */
