.heading{
    color: white;
    font-family: var(--main-font-family);
    border: 5px yellow;
}

.headerDiv {
    margin-bottom: 50px;
    /* background-color: var(--main-background-color); */
    /* border-color: var(--main-background-color); */
}
.homeMovies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}