.heading{
    color: white;
    /* font-family: var(--main-font-family); */
    font-family: var(--main-font-family);

}

.headerDiv {
    border: 5px solid black;
    /* width: 150px; */
    display: inline;
    width: 900px;
    margin-bottom: 50px;
}
.homeMovies{
    /* display: inline-flex; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}