#createEdit{
    color: var(--main-accent-color);
}

.formNote {
    color: var(--main-accent-color);
    position: absolute;
    /* right: 100px; */
    /* text-align: ; */
    margin-left: 260px;
}

#createFormFields{
    /* position: absolute; */
}

#description{
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    resize: vertical;
    position: relative;
    left: 16px;
    margin-bottom: 15px;
}