.text {
  color: white;
}

#footer {
  background: black;
  padding: 20px;
}

#footer div {
  max-width: 100%; 
}

.text {
  text-align: center;
  line-height: 40px;
  font-family: var(--main-font-family);
}

.socialLinks a img {
  width: 40px;
}


.socialLinks a{
  position: relative;
  bottom: 25px;
  left: 50px;
}

/* .socialLinks a {
  bottom: 50px;
  margin-left: 30px;
  display: block;
  position: relative;
} */
