.navBar {
    background-color: black;
    padding: 10px;
    /* width: 5000px; */
    /* border: 50px black solid; */
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}


.link{
    color: var(--main-text-color);
    text-decoration-line: none;
    font-size:x-large;
    font-family:var(--main-font-family);
    margin: 0 10px;
}

.link:hover{
    color: var(--main-accent-color);
}

.logo{
    width: 100px;
}